@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo-text {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #6931F5;
  text-align: start;
  text-shadow: black;
  text-decoration: none;
}

.text-primary-blue {
  color: #6931f5 !important;
}

.btn-primary-blue {
  background-color: #6931f5;
  border-color: #6931f5;
  color: white;
}

.btn-primary-blue:hover {
  background-color: #5827c8;
  border-color: #5827c8;
}

.nav-link.active {
  text-decoration: underline;
}

/* Event details */

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.event-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

@media (max-width: 768px) {
  .image-container {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .image-container {
    height: 200px;
  }
}

h1, h2 {
  font-size: 2rem; 
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-outline-secondary {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.text-primary-blue {
  color: #007bff;
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.text-danger {
  font-size: 1rem;
  color: red;
}

.badge-info {
  background-color: #17a2b8;
  color: white;
}
